{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>A Propos</h1>
        <p class="lead"><a href="{{ path('home') }}">TalkingAnime</a> est un site répertoriant la plupart des <a href="{{ path('animes') }}" class="text-warning">animes</a>, <a href="{{ path('mangas') }}" class="text-danger">mangas</a> ainsi que leurs <a href="{{ path('characters') }}" class="text-info">personnages</a>. Vous pouvez également partager vos expériences, questions ou recommandations (ou ce que vous voulez en rapport avec la culture japonaise) sur le <a href="{{ path('blog') }}" class="text-success">blog</a>.</p>
    </div>
{% endblock %}

