{% extends 'base.html.twig' %}
{% block body %}
    <h1>Animes</h1>

    <article class="anime-list">
        <div>
            <img src="http://placehold.it/150x150" alt="" class="anime-image mt-3" >
            <h2 class="anime-title"><a href="{{ path('animes_detail') }}">Nagi no Asukara</a></h2>
            <span class="anime-category"></span>
            <div class="anime-content">
                <p>
                    Long ago, all humans lived beneath the sea. However , some people preferred the surface and abandoned living underwater permanently. As a consequence, they were stripped of their god-given protection called "Ena" which allowed 
                </p>
            </div>
            <a href="{{ path('animes_detail') }}" class="btn btn-primary">En savoir plus</a>
        </div>
        <div>
            <img src="http://placehold.it/150x150" alt="" class="anime-image mt-5" >
            <h2 class="anime-title"><a href="{{ path('animes_detail') }}">Nagi no Asukara</a></h2>
            <span class="anime-category"></span>
            <div class="anime-content">
                <p>
                    Long ago, all humans lived beneath the sea. However , some people preferred the surface and abandoned living underwater permanently. As a consequence, they were stripped of their god-given protection called "Ena" which allowed 
                </p>
            </div>
            <a href="{{ path('animes_detail') }}" class="btn btn-primary">En savoir plus</a>
        </div>
        <div>
            <img src="http://placehold.it/150x150" alt="" class="anime-image mt-5" >
            <h2 class="anime-title" ><a href="{{ path('animes_detail') }}">Nagi no Asukara</a></h2>
            <span class="anime-category"></span>
            <div class="anime-content">
                <p>
                    Long ago, all humans lived beneath the sea. However , some people preferred the surface and abandoned living underwater permanently. As a consequence, they were stripped of their god-given protection called "Ena" which allowed 
                </p>
            </div>
            <a href="{{ path('animes_detail') }}" class="btn btn-primary">En savoir plus</a>
        </div>
    </article>
{% endblock %}
